<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.delia.onlinedormselect">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".dormitory.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".dormitory.PersonalInfoActivity" />
        <activity android:name=".dormitory.PInfoCompletedActivity" />
        <activity android:name=".dormitory.ModeActivity" />
        <activity android:name=".dormitory.OneModeActivity" />
        <activity android:name=".dormitory.TwoModeActivity" />
        <activity android:name=".dormitory.ThreeModeActivity" />
        <activity android:name=".dormitory.FourModeActivity" />
        <activity android:name=".dormitory.DormSuccessActivity" />
        <activity android:name=".dormitory.DormFailedActivity" />
        <activity android:name=".dormitory.DormInfoActivity"></activity>
    </application>

</manifest>